@using Homework5_MVC.Helpers.HTML
@model Homework5_MVC.Models.ReviewPage
@{
    ViewData["Title"] = "Reviews";
}

<h2>Reviews</h2>

<div>
    @foreach (var review in Model.Reviews)
    {
        @Html.CreateReview(review)
    }
</div>

<div>
    @using (Html.BeginForm("Index", "Reviews", FormMethod.Post))
    {
        <div class="form-group mb-3">
            @Html.LabelFor(Model => Model.NewReview.UserName, "Your name:", htmlAttributes: new { @class = "form-label" })
            @Html.TextBoxFor(Model => Model.NewReview.UserName)
        </div>
        <div class="form-group mb-3">
            @* <label asp-for="@Model.NewReview.Rating" class="form-label">Your rating:</label> *@
            @Html.LabelFor(Model => Model.NewReview.Rating, "Your rating:", htmlAttributes: new { @class = "form-label" })
            @Html.RadioButtonFor(Model => Model.NewReview.Rating, 1, htmlAttributes: new { id = "rating1" })
            <label for="rating1">1</label>
            @Html.RadioButtonFor(Model => Model.NewReview.Rating, 2, htmlAttributes: new { id = "rating2" })
            <label for="rating2">2</label>
            @Html.RadioButtonFor(Model => Model.NewReview.Rating, 3, htmlAttributes: new { id = "rating3" })
            <label for="rating3">3</label>
            @Html.RadioButtonFor(Model => Model.NewReview.Rating, 4, htmlAttributes: new { id = "rating4" })
            <label for="rating4">4</label>
            @Html.RadioButtonFor(Model => Model.NewReview.Rating, 5, htmlAttributes: new { id = "rating5" })
            <label for="rating5">5</label>
        </div>
        <div class="form-group mb-3 w-50">
            @Html.LabelFor(Model => Model.NewReview.Text, "Your review:", htmlAttributes: new { @class = "form-label" })
            @Html.TextAreaFor(Model => Model.NewReview.Text);
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    }
</div>